Repository founek2/voting-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-pwa

build-api:
  image: docker:20.10.16
  stage: build
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE/api:$CI_COMMIT_REF_SLUG
    IMAGE_TAG_LATEST: $CI_REGISTRY_IMAGE/api:latest
  script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  ...

build-pwa:
  image: docker:20.10.16
  stage: build
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE/pwa:$CI_COMMIT_REF_SLUG
    IMAGE_TAG_LATEST: $CI_REGISTRY_IMAGE/api:latest
  script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  ...

fix: CI
  .gitlab-ci.yml
Due: none

fix: CI
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .gitlab-ci.yml
  api/Dockerfile
  pwa/Dockerfile
Due: build-api, build-pwa

wip: deploy
  .gitlab-ci.yml
  api/Dockerfile
  compose.override.yaml
  compose.prod.yaml
Due: build-api

wip: deploy
  Makefile
  README.md
  compose.dev.yaml
  compose.override.yaml
  compose.prod.yaml
Due: none

fix: CI
  pwa/Dockerfile
Due: build-pwa

fix: remove jwt certs
  api/config/jwt/private.pem
  api/config/jwt/public.pem
Due: build-api

feat: enable prod deployment
  .gitlab-ci.yml
  .sh-app-hosting.json
  api/.gitignore
  compose.override.yaml
  compose.yaml
Due: build-api

feat: run migrations by default on PROD
  api/Dockerfile
  api/docker-entrypoint.sh
  compose.override.yaml
Due: build-api

fix: add external network
  compose.override.yaml
Due: none

feat: show media on stepper
  api/src/Entity/Election.php
  api/src/Entity/MediaPoster.php
  api/src/Entity/MediaReport.php
  api/src/Entity/MediaResolution.php
  pwa/src/Components/CandidateForm.tsx
  pwa/src/Components/ElectionStepper.tsx
  pwa/src/Components/MyUploadFileInput.tsx
  pwa/src/Components/PublicElectionStepper.tsx
  pwa/src/endpoints/elections.ts
  pwa/src/endpoints/types/index.ts
  pwa/src/endpoints/types/models/Election_jsonld_election_read_media_read_url.ts
  pwa/src/endpoints/types/models/MediaReport_jsonld_election_read_media_read_url.ts
  pwa/src/endpoints/types/models/MediaResolution_jsonld_election_read_media_read_url.ts
  pwa/src/types.ts
  pwa/src/util/isPassed.ts
  pwa/src/util/splitElections.ts
Due: build-api, build-pwa

fix: run prod in prod mode
  compose.override.yaml
Due: none

feat: migrate authentication to lexik and drop access_tokens from db
  Makefile
  api/.env
  api/.gitignore
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/api_platform.yaml
  api/config/packages/lexik_jwt_authentication.yaml
  api/migrations/Version20250209160857.php
  api/src/Doctrine/Types/AccessTokenType.php
  api/src/Dto/AccessTokenDto.php
  api/src/Entity/User.php
  api/src/Repository/UserRepository.php
  api/src/Security/AccessTokenHandler.php
  api/src/Services/ISProvider.php
  api/src/Services/UserService.php
  api/src/State/LoginProcessor.php
  api/symfony.lock
  compose.override.yaml
  pwa/src/Components/ElectionStepper.tsx
  pwa/src/Pages/OAuthCallback.tsx
Due: build-api, build-pwa

feat: disable deploy for now
  .gitlab-ci.yml
Due: none

fix: prod compose
  compose.override.yaml
Due: none

feat: add example prod .env
  .env.prod.example
  api/.env
  compose.override.yaml
  compose.yaml
Due: build-api

fix: prod build and scripts
  .env.prod.example
  Makefile
  api/Dockerfile
  api/docker-entrypoint.sh
  api/frankenphp/docker-entrypoint.sh
  compose.dev.yaml
  compose.yaml
Due: build-api

feat: improve prod example
  .env.prod.example
Due: none

fix: remove OAuth secrets from GIT
  api/.env
Due: build-api

feat: add OAuth secrets via .env.prod
  .env.prod.example
  compose.yaml
Due: none

feat: enable logging for pwa caddy
  Makefile
  pwa/Caddyfile
  pwa/Dockerfile
Due: build-pwa

feat: fix pwa paths on caddy
  pwa/Caddyfile
Due: build-pwa

feat: update dependencies
  pwa/package.json
  pwa/yarn.lock
Due: build-pwa

feat: footer + rework admin dashboard
  pwa/src/Components/BasicInformation.tsx
  pwa/src/Components/Footer.tsx
  pwa/src/Components/Layout.tsx
  pwa/src/Pages/DashboardPage.tsx
Due: build-pwa

feat: board members
  api/migrations/Version20250308192910.php
  api/src/Entity/BoardMember.php
  api/src/Entity/Position.php
  api/src/Entity/User.php
  api/src/Repository/BoardMemberRepository.php
  pwa/src/Components/BoardMemberForm.tsx
  pwa/src/Components/Footer.tsx
  pwa/src/Components/LayoutAuth.tsx
  pwa/src/Components/MemberBoardCard.tsx
  pwa/src/Containers/Routes.tsx
  pwa/src/Pages/BoardMemberCreatePage.tsx
  pwa/src/Pages/BoardMemberEditPage.tsx
  pwa/src/Pages/BoardMemeberPage.tsx
  pwa/src/endpoints/api.ts
  pwa/src/endpoints/board.ts
  pwa/src/endpoints/types/index.ts
  pwa/src/endpoints/types/models/BoardMember_jsonld_member_public_read.ts
  pwa/src/endpoints/types/models/BoardMember_jsonld_member_read.ts
  pwa/src/endpoints/types/models/BoardMember_jsonld_member_write.ts
  pwa/src/endpoints/types/models/BoardMember_member_write.ts
  pwa/src/endpoints/types/models/Position_jsonld_member_public_read.ts
  pwa/src/endpoints/types/models/User_jsonld_member_public_read.ts
Due: build-api, build-pwa

chore: cleaning
  pwa/src/Components/ElectionForm.tsx
  pwa/src/Components/Footer.tsx
  pwa/src/Components/PositionForm.tsx
Due: build-pwa

feat: increase file size limit, improve info text readability,
  Makefile
  api/Dockerfile
  api/Makefile
  api/README.md
  api/src/Entity/Candidate.php
  api/src/Entity/MediaPoster.php
  api/src/Entity/MediaReport.php
  api/src/Entity/MediaResolution.php
  pwa/src/Components/ElectionCard.tsx
  pwa/src/Components/MyUploadFileInput.tsx
  pwa/src/Components/TypographyInfo.tsx
  pwa/src/Pages/BoardMemberEditPage.tsx
  pwa/src/Pages/CandidateEditPage.tsx
  pwa/src/Pages/DashboardPage.tsx
  pwa/src/Pages/DashboardUserPage.tsx
  pwa/src/Pages/ElectionCandidatesPage.tsx
  pwa/src/Pages/ElectionEditPage.tsx
  pwa/src/Pages/ElectionResultPage.tsx
  pwa/src/Pages/ElectionVotesPage.tsx
  pwa/src/Pages/OAuthCallback.tsx
  pwa/src/Pages/PositionEditPage.tsx
  pwa/src/Pages/PublicHomePage.tsx
  pwa/src/Pages/PublicReportPage.tsx
  pwa/src/Pages/PublicResolutionPage.tsx
  pwa/src/Pages/ReportEditPage.tsx
  pwa/src/Pages/ReportPage.tsx
  pwa/src/Pages/ResolutionEditPage.tsx
  pwa/src/Pages/ResolutionPage.tsx
Due: build-api, build-pwa

feat: enable logging
  api/config/packages/monolog.yaml
  api/migrations/Version20250313194543.php
  api/src/Entity/Position.php
  pwa/src/Components/LayoutAuth.tsx
Due: build-api, build-pwa

fix: const
  api/src/Repository/UserRepository.php
Due: build-api

feat: support for old browsers
  pwa/babel.config.js
  pwa/package.json
  pwa/webpack.config.js
  pwa/yarn.lock
Due: build-pwa

fix: invalid const
  api/src/Repository/UserRepository.php
Due: build-api

feat: countingVotes stage, few small fixes
  api/migrations/Version20250314133018.php
  api/src/Const/ElectionStage.php
  api/src/Entity/Election.php
  pwa/src/Components/ElectionForm.tsx
  pwa/src/Components/ElectionStepper.tsx
  pwa/src/Components/FileList.tsx
  pwa/src/Components/MyUploadFileInput.tsx
  pwa/src/Components/PositionForm.tsx
  pwa/src/Pages/DashboardPage.tsx
  pwa/src/Pages/ElectionVotesPage.tsx
  pwa/src/Pages/ReportPage.tsx
  pwa/src/endpoints/types/models/Election_election_write.ts
  pwa/src/endpoints/types/models/Election_jsonld_election_read_media_read_url.ts
  pwa/src/endpoints/types/models/Election_jsonld_election_write.ts
  pwa/src/util/dayText.ts
Due: build-api, build-pwa

feat: improve election form
  pwa/src/Components/ElectionForm.tsx
  pwa/webpack.config.js
Due: build-pwa

feat: admin for ballot voting, and voting overall
  api/migrations/Version20250314170436.php
  api/src/Entity/BallotResult.php
  api/src/Entity/Candidate.php
  api/src/Repository/BallotResultRepository.php
  api/src/Repository/CandidateRepository.php
  pwa/src/Components/CandidateForm.tsx
  pwa/src/Components/VoteResultRow.tsx
  pwa/src/Pages/BoardMemberEditPage.tsx
  pwa/src/Pages/CandidateCreatePage.tsx
  pwa/src/Pages/CandidateEditPage.tsx
  pwa/src/Pages/ElectionResultPage.tsx
  pwa/src/Pages/ElectionResultPage/BallotResultList.tsx
  pwa/src/Pages/ElectionResultPage/ElectronicResultList.tsx
  pwa/src/Pages/ElectionResultPage/TotalResultList.tsx
  pwa/src/endpoints/api.ts
  pwa/src/endpoints/ballotResult.ts
  pwa/src/endpoints/candidates.ts
  pwa/src/endpoints/elections.ts
  pwa/src/endpoints/types/index.ts
  pwa/src/endpoints/types/models/BallotResult_jsonld_result_read_candidate_read.ts
  pwa/src/endpoints/types/models/BallotResult_jsonld_result_write.ts
  pwa/src/endpoints/types/models/BallotResult_result_write.ts
  pwa/src/endpoints/types/models/Candidate_candidate_write.ts
  pwa/src/endpoints/types/models/Candidate_jsonld_candidate_read.ts
  pwa/src/endpoints/types/models/Candidate_jsonld_result_read_candidate_read.ts
  pwa/src/endpoints/types/models/MediaPoster_jsonld_result_read_candidate_read.ts
  pwa/src/endpoints/types/models/Position_jsonld_result_read_candidate_read.ts
  pwa/src/endpoints/types/models/User_jsonld_result_read_candidate_read.ts
  pwa/src/hooks/useTotalElectionResults.tsx
  pwa/src/util/isEmpty.ts
Due: build-api, build-pwa

feat: migrate router to data api
  pwa/src/App.tsx
  pwa/src/Components/MyDatePicker.tsx
  pwa/src/Containers/Routes.tsx
  pwa/src/Pages/ElectionResultPage.tsx
Due: build-pwa

feat: improve chunking
  pwa/src/Components/BoardMemberForm.tsx
  pwa/src/Components/ElectionForm.tsx
  pwa/src/Components/ErrorBoundary2.tsx
  pwa/src/Components/LayoutAuth.tsx
  pwa/src/Containers/Routes.tsx
  pwa/src/Pages/CandidateCreatePage.tsx
  pwa/src/Pages/DashboardPage.tsx
  pwa/src/Pages/ElectionCandidatesPage.tsx
  pwa/src/Pages/ElectionCreatePage.tsx
  pwa/src/Pages/ElectionEditPage.tsx
  pwa/src/Pages/ElectionResultPage.tsx
  pwa/src/Pages/ElectionVotesPage.tsx
  pwa/src/Pages/PositionCreatePage.tsx
  pwa/src/Pages/PositionEditPage.tsx
  pwa/webpack.config.js
Due: build-pwa

Path conditions:
  build-api: any of: api/**/*
  build-pwa: any of: pwa/**/*
